* {
  margin: 0;
  padding: 0;
}
label { 
  color: red;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'Cinzel Decorative',sans-serif;
}

body {
  margin: 2em;
  background: #55f;
}

#content {
  margin: 3em;
  background: #fff;
  padding: 2em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
}

tr { 
  padding: 2px;
}

p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}
