<form action=<%= r(:user_report) %> method="post">
  Start Date: <br />
  <input type="text" name="date_start" id="cdrbegin"><br />
   End Date: <br />
  <input type="text" name="date_end" id="cdrend"><br />
  Username (Extension): 
  <input type="text" name="username" ><br />
  and/or<br />
  Phone Num
  <input type="text" name="phone_num"><br />
  Ignore Local (extension to extension) Calls?
  <input type="checkbox" name="avoid_locals"></br>
  <input type="submit" value="Submit">
</form>
