<form action="<%= MainController.r(:login) %>" method="POST">
  <fieldset>
    <legend>Login form</legend>

    <label for="login">Username</label>
    <input id="login" type="text" name="login" />

    <br /><br />

    <label for="password">Password</label>
    <input id="password" type="password" name="password" />

    <br /><br />

    <input type="submit" value="Login" />

  </fieldset>
</form>
